<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Linq2Sql.Properties.Settings.mirConnectionString"
            connectionString="Data Source=CHUGGUN\SQLEXPRESS;Initial Catalog=mir;Persist Security Info=True;User ID=cl;Password=cl"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>